# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID='XXXXXXX'
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY='XXXX'
STACK_SECRET_SERVER_KEY='XXXXX'

# Database owner connection string
# keep Neon credentials secure: do not expose them to client-side code

# keep Neon credentials secure: do not expose them to client-side code
# keep Neon credentials secure: do not expose them to client-side code
# keep Neon credentials secure: do not expose them to client-side code

DATABASE_URL='XXX'

# Google OAuth (à créer sur Google Cloud Console)
GOOGLE_CLIENT_ID="XXXXXX"
GOOGLE_CLIENT_SECRET="XXXXX"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="XXXXX="

#URI GCP https://console.cloud.google.com/auth/clients/create?previousPage=%2Fapis%2Fcredentials%3Fhl%3Dfr%26project%3Dportfolio-471118&hl=fr&project=portfolio-471118
#http://localhost:3000
#http://localhost:3001
#https://votre-domaine.com

#URIs de redirection autorisées (Authorized redirect URIs)
#http://localhost:3000/api/auth/callback/google
#http://localhost:3001/api/auth/callback/google
#https://votre-domaine.com/api/auth/callback/google